<!DOCTYPE html>
 <html lang="fr">
  <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   <meta charset="UTF-8">
   {% load static %}
   <link rel="stylesheet" href="{% static 'main.css' %}">
   <title> GROUPE 21 | SAE 24</title>
  </head>
  <body>
    <div class="hold"></div>

    <div class="content">
     {% block content %}
     {% endblock content %}

    </div>
  </body>
 </html>